<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="conn" connectionString="Data Source=israa.edu.ps;Initial Catalog=ELibrary;User ID=ElibraryDBuser;Password=o3%M9o6x" providerName="System.Data.SqlClient" />
    <add name="ConnectionString" connectionString="Data Source=israa.edu.ps;Initial Catalog=MainWebsite;User ID=MainWebsiteDBuser;Password=B1%tu0c8" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off">
    </customErrors>
    <!--<customErrors mode="On"
                    defaultRedirect="/Er/Oops.aspx" />-->
    <compilation debug="true" targetFramework="4.5.2" tempDirectory="C:\Inetpub\vhosts\israa.edu.ps\tmp" />
    <httpRuntime maxRequestLength="104857600" targetFramework="4.5.2" />
    <sessionState timeout="45" mode="InProc" />
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="PageInspector:ServerCodeMappingSupport" value="Disabled" />
  </appSettings>
</configuration>