@model IsraaSystem.Core.Classic.HumanResource.Employee.EmployeeVM

@{
  ViewBag.Title = "شؤون الموظفين - الموظفين";
  ViewBag.Menu = "#menu-employees";
  Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";
}

@section PageStyles{
  <link href="/assets/layouts/layout4/css/profile-rtl.css" rel="stylesheet" />
  <link href="/assets/global/plugins/jcrop/css/jquery.Jcrop.css" rel="stylesheet" />
}

@section PageScripts{
  <script src="/assets/global/plugins/jcrop/js/jquery.cropit.min.js"></script>
}

@section PageBreadcrumb{
  <li>
    <a>الرئيسية</a>
    <i class="fa fa-circle"></i>
  </li>
  <li>
    <a>الموظفين</a>
    <i class="fa fa-circle"></i>
  </li>
  <li>
    <a>ملفات الموظفين</a>
  </li>
}

<div class="row">
  <div class="col-md-12">
    <div class="portlet light bordered">
      <div class="portlet-title">
        <div class="caption">
          <i class="icon-social-dribbble font-green"></i>
          <span class="caption-subject font-green bold uppercase">ملفات الموظفين</span>
        </div>
        <div class="actions">
          <a href="http://hr.israa.edu.ps/APP_HRM/AddNewEmployee.aspx" class="btn btn-sm btn-success">
            <i class="fa fa-plus"></i>
            إضافة موظف جديد
          </a>
        </div>
      </div>
      <div class="portlet-body">
        @Html.Partial("List", Model)
      </div>
    </div>
  </div>
</div>