@model IsraaSystem.Core.Classic.HumanResource.Contract.ContractInstructorVM

@{
    ViewBag.Title = "شؤون الموظفين - عقود المحاضرين";
    ViewBag.Menu = "#menu-contract-instructor";
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";
}

@section PageBreadcrumb{
    <li>
        <a href="/HumanResource/Dashboard">الرئيسية</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="/HumanResource/ContractInstructor/Index">عقود المحاضرين</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a>عرض عقود المحاضرين</a>
    </li>
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-green"></i>
                    <span class="caption-subject font-green bold uppercase">عرض عقود المحاضرين</span>
                </div>
            </div>
            <div class="portlet-body">
                @Html.Partial("List", Model)
            </div>
        </div>
    </div>
</div>