

@{
    ViewBag.Title = "الرئيسية";
    ViewBag.Menu = "";
    Layout = "~/Views/Shared/_LayoutHorizontalMenu.cshtml";
}

@section PageStyles { }

@section PagePlugins { }

@section PageScripts {
}

@section PageBreadcrumb{
    <li>
        <a>الرئيسية</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a>ادارة شؤون الطلبة</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a>الرئيسية</a>
    </li>
}