@using System.Data
@model DataTable

@{
    Layout = null;
}

@if (TempData["toast-msg"] != null)
{
    int status = Convert.ToInt32(TempData["toast-msg"].ToString().Split(';')[0]);
    String msg = TempData["toast-msg"].ToString().Split(';')[1];
    <script type="text/javascript">
        showToast("@msg", "@((status > 0) ? "success":"error")");
    </script>
}

<div id="job-tasks">
    @if (Model.Rows.Count > 0)
        {
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="wp5">#</th>
                    <th>مهام الوظيفة</th>
                    <th class="wp20"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow row in Model.Rows)
                    {
                    <tr>
                        <td>@row["RowNo"]</td>
                        <td>@row["ArName"]</td>
                        <td class="text-center">
                            <a href="/HumanResource/JobTask/Edit/@row["ID"]" class="btn btn-sm btn-primary pop-up-lg"><i class="fa fa-edit"></i> تعديل</a>
                            <a href="/HumanResource/JobTask/Delete/@row["ID"]" class="btn btn-sm btn-danger confirm" data-title="حذف مهمة" data-msg="هل أنت متأكد من أنك تود حذف المهمة ؟" data-action="حذف" data-ajax-update="#job-tasks"><i class="fa fa-times"></i> حذف</a>
                        </td>
                    </tr>
                    }
            </tbody>
        </table>
        }
        else
        {
        <div class="alert alert-info alert-dismissible text-center" role="alert">
            <span>لا يوجد بيانات لعرضها</span>
        </div>
        }
</div>