/* here you can put your own css to customize and override the theme */

@font-face {
    font-family: "hasanin";
    font-style: normal;
    font-weight: normal;
    src: local("☺"), url("../fonts/hasanin.woff") format("woff"), url("../fonts/hasanin.ttf") format("truetype"), url("../fonts/hasanin.svg") format("svg");
}


.font-ha {
    font-family: hasanin !important;
    text-decoration: none !important;
}

.font-Ta {
    font-family: Tahoma !important;
    text-decoration: none !important;
}

.isra-error {
    border: 1px solid #ee7f6d !important;
}

.portlet-title .caption {
    padding: 10px 0;
    font-size: 18px;
    line-height: 18px;
}

.alert-top {
    float: left;
    font-size: 11px;
    margin: 0 !important;
    min-width: 150px;
    padding: 11px 15px !important;
}

select, span, input, ul, li, div, a {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.select2-container--bootstrap .select2-selection {
    font-family: Tahoma;
}

.pager {
    border-radius: 4px;
    display: inline-block;
    padding-right: 0;
    float: left;
    min-width: 320px;
}

    .pager a, .pager span {
        float: right;
        border: 1px solid #ddd;
        line-height: 1.42857;
        margin-right: -1px;
        padding: 6px 12px;
        position: relative;
        text-decoration: none;
    }

    .pager span {
        background-color: #eee;
    }

    .pager a:hover {
        background-color: #eee;
    }

    .pager .aspNetDisabled {
        color: #000;
    }

        .pager .aspNetDisabled:hover {
            background-color: #fff;
        }

.bootstrap-timepicker-widget {
    direction: ltr;
}


.add-question-en .col-md-1, .add-question-en .col-md-2, .add-question-en .col-md-3, .add-question-en .col-md-4, .add-question-en .col-md-5, .add-question-en .col-md-6, .add-question-en .col-md-7,
.add-question-en .col-md-8, .add-question-en .col-md-9, .add-question-en .col-md-10, .add-question-en .col-md-11, .add-question-en .col-md-12 {
    float: left;
}

.add-question-en .form-horizontal .control-label {
    text-align: right;
}

.add-question-en .col-md-offset-2 {
    margin-left: 16.6667%;
}

.add-question-en input[type="checkbox"], input[type="radio"] {
    margin: 0 5px 0 0;
}


.form-wizard .steps > li > a.step > .number {
    margin: 0 0 10px 0;
}

.aspNetDisabled {
    cursor: not-allowed !important;
}


.fileUpload {
    position: relative;
    overflow: hidden;
    padding: 7px;
    width: 20%;
}

    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }