@using System.Data
@model IsraaSystem.Core.Classic.Shared.DataTableVM

@{
    ViewBag.Title = "شؤون الموظفين - نوع الوظيفة";
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";
}

@section PageBreadcrumb{
    <li>
        <a>الرئيسية</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a>الوظيفة</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a>نوع الوظيفة</a>
    </li>
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-green"></i>
                    <span class="caption-subject font-green bold uppercase">نوع الوظيفة</span>
                </div>
                <div class="actions">
                    <a href="/HumanResource/JobType/Add" class="btn btn-primary pop-up-md">إضافة نوع وظيفة</a>
                </div>
            </div>
            <div class="portlet-body">
                @Html.Partial("List", Model)
            </div>
        </div>
    </div>
</div>