.wp3 {
    width: 3%;
}

.wp5 {
    width: 5%;
}

.wp8 {
    width: 8%;
}

.wp9 {
    width: 9%;
}

.wp10 {
    width: 10%;
}

.wp12 {
    width: 12%;
}

.wp15 {
    width: 15%;
}

.wp18 {
    width: 18%;
}

.wp20 {
    width: 20%;
}

.wp22 {
    width: 22%;
}

.wp25 {
    width: 25%;
}

.wp30 {
    width: 30%;
}

.wp35 {
    width: 35%;
}

.wp40 {
    width: 40%;
}

.wp50 {
    width: 50%;
}

.wp50 {
    width: 60%;
}
