@model IsraaSystem.Entity.HumanResource.Salary.EmployeeBonusVM

@{
    ViewBag.Title = "شؤون الموظفين - علاوات الموظفين";
    ViewBag.Menu = "#menu-salary,#menu-salary-employee-bonus";
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";
}

@section PageBreadcrumb{
    <li>
        <a href="/HumanResource/Dashboard">الرئيسية</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="/HumanResource/EmployeeBonus/Index">علاوات الموظفين</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a>عرض علاوات الموظفين</a>
    </li>
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-green"></i>
                    <span class="caption-subject font-green bold uppercase">عرض علاوات الموظفين</span>
                </div>
                <div class="actions">
                    <a href="/HumanResource/EmployeeBonus/Add" class="btn btn-sm btn-success pop-up-lg">
                        <i class="fa fa-plus"></i>
                        تنسيب علاوة لموظف
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                @Html.Partial("List", Model)
            </div>
        </div>
    </div>
</div>