
@{
  ViewBag.Title = "Dashboard";
  Layout = "~/Views/Shared/_Layout.cshtml";
}


@section PageStyles {}

@section PagePlugins {}

@section PageScripts {}

@section PageBreadcrumb{
  <li>
    <a href="/Home/Index">الرئيسية</a>
    <i class="fa fa-circle"></i>
  </li>
  <li>
    <a href="/Home/Index">الامتحانات الدراسية</a>
    <i class="fa fa-circle"></i>
  </li>
  <li>
    <a>الرئيسية</a>
  </li>
}

