<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <add name="isra" connectionString="Data Source=.\MSSQLSERVER2019;Initial Catalog=IsraaAcademic;User Id=dbuser;Password=islam123qwe!@#QWE;Connection Timeout=600" providerName="System.Data.SqlClient" />
    <add name="isra2" connectionString="Data Source=.\MSSQLSERVER2019;Initial Catalog=IsraPermissions;User Id=dbuser;Password=islam123qwe!@#QWE;Connection Timeout=600" providerName="System.Data.SqlClient" />
    <add name="isra3" connectionString="Data Source=.\MSSQLSERVER2019;Initial Catalog=IsraData;User Id=dbuser;Password=islam123qwe!@#QWE;Connection Timeout=600" providerName="System.Data.SqlClient" />
    <add name="IsraaStudentAttendance" connectionString="Data Source=.\MSSQLSERVER2019;Initial Catalog=IsraaStudentAttendance;User Id=dbuser;Password=islam123qwe!@#QWE;Connection Timeout=600" providerName="System.Data.SqlClient" />
    <add name="IsraaEvaluation" connectionString="Data Source=.\MSSQLSERVER2019;Initial Catalog=IsraaEvaluation;User Id=dbuser;Password=islam123qwe!@#QWE;Connection Timeout=600" providerName="System.Data.SqlClient" />
    <add name="HumanResources" connectionString="Data Source=.\MSSQLSERVER2019;Initial Catalog=HumanResources;User Id=dbuser;Password=islam123qwe!@#QWE;Connection Timeout=600" providerName="System.Data.SqlClient" />
    <add name="UniversityStudentIssues" connectionString="Data Source=.\MSSQLSERVER2019;Initial Catalog=IsraaStudentIssue;User Id=dbuser;Password=islam123qwe!@#QWE;Connection Timeout=600" providerName="System.Data.SqlClient" />
    <add name="IsraaHumanResource" connectionString="Data Source=.\MSSQLSERVER2019;Initial Catalog=IsraaHumanResource;User Id=dbuser;Password=islam123qwe!@#QWE;Connection Timeout=600" providerName="System.Data.SqlClient" />
    <add name="IsraaStudentIssue" connectionString="Data Source=israa.edu.ps;Initial Catalog=IsraaStudentIssue;User Id=dbuser;Password=islam123qwe!@#QWE;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" defaultLanguage="c#" tempDirectory="C:\Inetpub\vhosts\israa.edu.ps\tmp">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" defaultRedirect="Error.aspx" />
    <sessionState timeout="40000" />
    <authentication mode="Forms">
      <forms name="Academic11" defaultUrl="~/Academic/Default.aspx" loginUrl="~/Login.aspx" slidingExpiration="true" timeout="999999" />
    </authentication>
    <httpRuntime targetFramework="4.5" />
    <machineKey validationKey="BA5E02A0FD554AAEC8BA0D3B1E559A8C110A89ED1CCEDAB2C7C519E14FD013805388A41AFB8541C1493A1552446EDED51B4512BAC4E541333C66E62A648006FA" decryptionKey="A00116E3AD55685D22C66E9C3472A1A738DB8A555DBA9EB90903DCC034C6365E" validation="SHA1" decryption="AES" />
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
    <httpErrors>
      <remove statusCode="502" subStatusCode="-1" />
      <remove statusCode="501" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="412" subStatusCode="-1" />
      <remove statusCode="406" subStatusCode="-1" />
      <remove statusCode="405" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="401" subStatusCode="-1" />
      <remove statusCode="400" />
      <error statusCode="400" path="C:\Inetpub\vhosts\israa.edu.ps\error_docs\bad_request.html" />
      <remove statusCode="407" />
      <error statusCode="407" path="C:\Inetpub\vhosts\israa.edu.ps\error_docs\proxy_authentication_required.html" />
      <remove statusCode="414" />
      <error statusCode="414" path="C:\Inetpub\vhosts\israa.edu.ps\error_docs\request-uri_too_long.html" />
      <remove statusCode="415" />
      <error statusCode="415" path="C:\Inetpub\vhosts\israa.edu.ps\error_docs\unsupported_media_type.html" />
      <remove statusCode="503" />
      <error statusCode="503" path="C:\Inetpub\vhosts\israa.edu.ps\error_docs\maintenance.html" />
      <error statusCode="401" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\israa.edu.ps\error_docs\unauthorized.html" />
      <error statusCode="403" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\israa.edu.ps\error_docs\forbidden.html" />
      <error statusCode="404" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\israa.edu.ps\error_docs\not_found.html" />
      <error statusCode="405" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\israa.edu.ps\error_docs\method_not_allowed.html" />
      <error statusCode="406" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\israa.edu.ps\error_docs\not_acceptable.html" />
      <error statusCode="412" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\israa.edu.ps\error_docs\precondition_failed.html" />
      <error statusCode="500" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\israa.edu.ps\error_docs\internal_server_error.html" />
      <error statusCode="501" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\israa.edu.ps\error_docs\not_implemented.html" />
      <error statusCode="502" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\israa.edu.ps\error_docs\bad_gateway.html" />
    </httpErrors>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>