<log4net>
  <connectionStrings>
    <add name="IsraaLog"
         connectionString="Data Source=israa.edu.ps;Initial Catalog=IsraaLog;User Id=dbuser;Password=isra@Uni#0102;" />
  </connectionStrings>
  <logger additivity="false" name="Hangfire">
    <level value="ALL" />
    <appender-ref ref="HangfireLoggerAppender" />
  </logger>
  <root>
    <level value="ALL"></level>
    <appender-ref ref="AdoNetAppender"></appender-ref>
    <appender-ref ref="aiAppender" />
  </root>

  <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="1" />
    <connectionType
      value="System.Data.SqlClient.SqlConnection,System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />

    <connectionStringName value="IsraaLog" />
    <commandText
      value="INSERT INTO dbo.Log ([Date],[Thread],[Level],[Logger],[Message],[Exception],[Category], [User]) VALUES (@log_date, @thread, @log_level,@logger, @message, @exception, @Category, @User)" />
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@thread" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
    <parameter>
      <parameterName value="@Category" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{Category}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@User" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%HTTPUser" />
        <converter>
          <name value="HTTPUser" />
          <type value="IsraaSystem.Web.Models.HttpContextUserPatternConverter" />
        </converter>
      </layout>
    </parameter>

  </appender>
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="Logs\web-log.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="50000KB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
    </layout>
  </appender>


  <appender name="TracingAppenderFile" type="log4net.Appender.RollingFileAppender">
    <file value=".\\\App_Data\\\Logs\" />
    <datePattern value="yyyy-MM-dd'-TracingLogs.log'" />
    <appendToFile value="true" />
    <maximumFileSize value="256KB" />
    <maxSizeRollBackups value="20" />
    <rollingStyle value="Date" />
    <staticLogFileName value="false" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <converter>
        <name value="HTTPUser" />
        <type value="hbulens.Logging.HttpContextUserPatternConverter" />
      </converter>
      <conversionPattern value="%level %date - %message - [%property{Category}] - [%HTTPUser] %newline" />
    </layout>
    <parameter>
      <parameterName value="@Category" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{Category}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@User" />
      <dbType value="String" />
      <size value="255" />
    </parameter>
  </appender>

  <appender name="TracingAppenderDatabase" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="10" />
    <connectionType
      value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionStringName value="IsraaLog" />
    <commandText
      value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message],[Exception], [Category], [User]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception, @Category, @User)" />
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@thread" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
    <parameter>
      <parameterName value="@Category" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{Category}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@User" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%HTTPUser" />
        <converter>
          <name value="HTTPUser" />
          <type value="IsraaSystem.Web.Models.HttpContextUserPatternConverter" />
        </converter>
      </layout>
    </parameter>
  </appender>
  <appender name="aiAppender"
            type="Microsoft.ApplicationInsights.Log4NetAppender.ApplicationInsightsAppender, Microsoft.ApplicationInsights.Log4NetAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%message%newline" />
    </layout>
  </appender>


</log4net>
