<div id="pop-up-sm" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
    </div>
</div>

<div id="pop-up-md" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md" role="document">
    </div>
</div>

<div id="pop-up-lg" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
    </div>
</div>

<div id="confirm" class="bootbox modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <span class="confirm-msg"></span>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace-with" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                    <span></span>
                </a>
                <button type="button" class="btn btn-default" data-dismiss="modal">إلغاء</button>
            </div>
        </div>
    </div>
</div>