@model IsraaSystem.Core.Classic.HumanResource.EmployeePlacement.EmployeePlacementVM

@{
    ViewBag.Title = "شؤون الموظفين - الموقع الوظيفي";
    ViewBag.Menu = "#menu-employee-location,#menu-employee-placement";
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";
}

@section PageBreadcrumb{
    <li>
        <a href="/HumanResource/Dashboard">الرئيسية</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="/HumanResource/EmployeePlacement/IndexAll">الموقع الوظيفي</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a>عرض المواقع الوظيفية</a>
    </li>
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-green"></i>
                    <span class="caption-subject font-green bold uppercase">عرض المواقع الوظيفية</span>
                </div>
                <div class="actions">
                    <a href="/HumanResource/EmployeePlacement/Add" class="btn btn-sm btn-success pop-up-lg">
                        <i class="fa fa-plus"></i>
                        إضافة موقع وظيفي جديد
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                @Html.Partial("List", Model)
            </div>
        </div>
    </div>
</div>