<div class="modal-loading">
    <ul id="loading">
        <li class="bar"></li>
        <li class="bar"></li>
        <li class="bar"></li>
        <li class="bar"></li>
        <li class="bar"></li>
        <li class="bar"></li>
        <li class="bar"></li>
        <li class="bar"></li>
        <li class="bar"></li>
        <li class="bar"></li>
    </ul>
    <div class="loading-text">
        <span class="logo-default">جاري التحميل</span>
    </div>
</div>