<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--server-->
    <!--server-->
    <!--local-->
    <!--<add name="IsraaAcademicEntities" connectionString="metadata=res://*/IsraaAcademic.IsraaAcademicModel.csdl|res://*/IsraaAcademic.IsraaAcademicModel.ssdl|res://*/IsraaAcademic.IsraaAcademicModel.msl;provider=System.Data.SqlClient;provider connection string=&quot; Data Source=DESKTOP-0QD1UV6;Initial Catalog=IsraaAcademic;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--local-->
    <!--<add name="IsraaAdministrationEntities" connectionString="metadata=res://*/EntityFrameWork.testtest.testModel.csdl|res://*/EntityFrameWork.testtest.testModel.ssdl|res://*/EntityFrameWork.testtest.testModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=israa.edu.ps;initial catalog=IsraaAdministration;persist security info=True;user id=dbuser;password=isra@Uni#0102;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="IsraPermissionEntities" connectionString="metadata=res://*/EntityFrameWork.IsraaPermission.IsraaPermissionContext.csdl|res://*/EntityFrameWork.IsraaPermission.IsraaPermissionContext.ssdl|res://*/EntityFrameWork.IsraaPermission.IsraaPermissionContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=israa.edu.ps;initial catalog=IsraPermission;persist security info=True;user id=dbuser;password=isra@Uni#0102;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IsraaAcademicEntities" connectionString="metadata=res://*/EntityFrameWork.IsraaAcademic.IsraaAcademicModel.csdl|res://*/EntityFrameWork.IsraaAcademic.IsraaAcademicModel.ssdl|res://*/EntityFrameWork.IsraaAcademic.IsraaAcademicModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=israa.edu.ps;initial catalog=IsraaAcademic;persist security info=True;user id=dbuser;password=isra@Uni#0102;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IsraaHumanResourceEntities" connectionString="metadata=res://*/EntityFrameWork.IsraaHumanResource.IsraaHumanResourceContext.csdl|res://*/EntityFrameWork.IsraaHumanResource.IsraaHumanResourceContext.ssdl|res://*/EntityFrameWork.IsraaHumanResource.IsraaHumanResourceContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=israa.edu.ps;initial catalog=IsraaHumanResource;user id=dbuser;password=isra@Uni#0102;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IsraaRepositoryEntities" connectionString="metadata=res://*/EntityFrameWork.IsraaRepository.IsraaRepositoryModel.csdl|res://*/EntityFrameWork.IsraaRepository.IsraaRepositoryModel.ssdl|res://*/EntityFrameWork.IsraaRepository.IsraaRepositoryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=israa.edu.ps;initial catalog=IsraaRepository;persist security info=True;user id=dbuser;password=isra@Uni#0102;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IsraaAdministrationEntities" connectionString="metadata=res://*/EntityFrameWork.IsraaAdministration.AdministrationModel.csdl|res://*/EntityFrameWork.IsraaAdministration.AdministrationModel.ssdl|res://*/EntityFrameWork.IsraaAdministration.AdministrationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=israa.edu.ps;initial catalog=IsraaAdministration;persist security info=True;user id=dbuser;password=isra@Uni#0102;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IsraDataEntities" connectionString="metadata=res://*/EntityFrameWork.IsraData.IsraDataModel.csdl|res://*/EntityFrameWork.IsraData.IsraDataModel.ssdl|res://*/EntityFrameWork.IsraData.IsraDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=israa.edu.ps;initial catalog=IsraData;persist security info=True;user id=dbuser;password=isra@Uni#0102;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IsraPermissionsEntities" connectionString="metadata=res://*/EntityFrameWork.IsraaPermissions.IsraaPermissionsModel.csdl|res://*/EntityFrameWork.IsraaPermissions.IsraaPermissionsModel.ssdl|res://*/EntityFrameWork.IsraaPermissions.IsraaPermissionsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=israa.edu.ps;initial catalog=IsraPermissions;user id=dbuser;password=isr@adb342!@#BKA;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IsraaLogEntities" connectionString="metadata=res://*/EntityFrameWork.IsraaLog.IsraaLogModel.csdl|res://*/EntityFrameWork.IsraaLog.IsraaLogModel.ssdl|res://*/EntityFrameWork.IsraaLog.IsraaLogModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=israa.edu.ps;initial catalog=IsraaLog;persist security info=True;user id=dbuser;password=isra@Uni#0102;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>