@using System.Data
@model DataTable

@{
    Layout = null;
}

@if (TempData["toast-msg"] != null)
{
    int status = Convert.ToInt32(TempData["toast-msg"].ToString().Split(';')[0]);
    String msg = TempData["toast-msg"].ToString().Split(';')[1];
    <script type="text/javascript">
        showToast("@msg", "@((status > 0) ? "success":"error")");
    </script>
}

<div id="job-terms">
    @if (Model.Rows.Count > 0)
    {
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="wp5">#</th>
                    <th>شرط شغل الوظيفة</th>
                    <th class="wp20"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow row in Model.Rows)
                {
                    <tr>
                        <td>@row["RowNo"]</td>
                        <td>@row["ArName"]</td>
                        <td class="text-center">
                            <a href="/HumanResource/JobTerm/Edit/@row["ID"]" class="btn btn-sm btn-primary pop-up-lg"><i class="fa fa-edit"></i> تعديل</a>
                            <a href="/HumanResource/JobTerm/Delete/@row["ID"]" class="btn btn-sm btn-danger confirm" data-title="حذف شرط شغل الوظيفة" data-msg="هل أنت متأكد من أنك تود حذف شرط شغل الوظيفة ؟" data-action="حذف" data-ajax-update="#job-terms"><i class="fa fa-times"></i> حذف</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-info alert-dismissible text-center" role="alert">
            <span>لا يوجد بيانات لعرضها</span>
        </div>
    }
</div>