@model IsraaSystem.Core.Classic.HumanResource.EmployeeQualification.EmployeeQualificationVM

@{
    ViewBag.Title = "شؤون الموظفين - المؤهلات العلمية";
    ViewBag.Menu = "#menu-employee-qualification,#menu-all-employee-qualification";
  Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";
}


@section PageBreadcrumb{
  <li>
    <a href="/HumanResource/Dashboard">الرئيسية</a>
    <i class="fa fa-circle"></i>
  </li>
  <li>
    <a href="/HumanResource/EmployeeQualification">المؤهلات العلمية</a>
    <i class="fa fa-circle"></i>
  </li>
  <li>
    <a>عرض جميع المؤهلات العلمية</a>
  </li>
}


<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-green"></i>
                    <span class="caption-subject font-green bold uppercase">عرض جميع المؤهلات العلمية للموظفين</span>
                </div>
                <div class="actions">
                </div>
            </div>
            <div class="portlet-body">
                @Html.Partial("List", Model)
            </div>
        </div>
    </div>
</div>